extends ./layout

h1#blog-stay-tuned Stay tuned for the Thrive - Side by Side Blog!
<!--
// block content
		each post in postsLists
				section.post
						.container
								.row
										.col-lg-8.col-lg-offset-2.text-center
												h2.section-heading #{post.title}
												hr.light
												p.text-faded #{post.description}
												a(href='/blog' + post.title).btn.btn-default
												
				// do something
				h1 #{post.title}
				p #{post.description}
				
			
				
				Imagine a world where young people are excited to wake up everyday to live out their purpose and potential, feeling prepared and empowered to create the life of their dreams. THRIVEsidebyside helps the next generation create a meaningful vision aligned with their highest self while putting them in a position to live it out. THRIVEsidebyside was created as a pilot program to address the lack of exposure that low-income students have to careers paths that would excite them to pursue. The results were truly transformational. Through storytelling, film and technology, the students are exposed to some of our nation’s most illustrious game changers while developing their own voice and sharing their stories, dreams and passions, as well.
 
Oftentimes, the best way to discover ourselves - our gifts, blessings, what stirs our soul – is to hear stories from people shifting paradigms in a variety of exciting industries and find out what they attribute their success to. Many people tell the next generation, “You can be anything you want when you grow up…” but few show them how. When young people are exposed to new role models, lifestyles and career paths and have the opportunity to hear about a culture or environment that’s different than they one they experience on a daily basis, it sets off a spark about what their purpose or passion can be and helps them create a vision for a new way to live their life… A life of courage, contribution, kindness and commitment.
 
We all have a responsibility to use our gifts to elevate the next generation and as we share our stories and learn each other’s secrets to success, we can put ourselves in a position to be of value and THRIVEsidebyside with them.
 
 
What is the contribution we know we have the capability of making in the world? 

There are many values and skillsets integral to living a successful life that aren’t taught in school. Many people who are really elevating a particular industry and challenging the status quo in a benevolent way, do so because they were exposed to possibilities at a young age. This is key for people to truly live their best life, both for themselves and their community.

Nothing is impossible for kids who know what they want and how to get there. We realize that not every student is afford this opportunity, so we focus on bridging gaps between students and experts so we can THRIVE side by side to take our community to new heights!

				
				
				-->