extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 Thrive - Side by Side
              |                 
              hr
              |                 
              p
                |  Millions of students leave school each year searching for a real purpose. Thrive helps young people connect with elite professionals to ignite their passions.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='https://give.creativevisions.org/events/thrive/e64447')  Contribute Now
        |     
        section#mission.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Help Students Thrive
                hr.light                   
                p.text-faded
                  | Our mission is to connect students with the experts they admire most. Every child has a dream and a goal, but the path to success often remains hidden. When students study the values and mindsets of the greatest professionals in their fields, those avenues become more clear. Here at Thrive, we work to help students find their purpose, and get them started on achieving their dreams. 
                a.btn.btn-default.btn-xl(href='#moreinfo') Find Out More!
        section#about
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Power and Passion at the Fingertips of Students
                hr.primary
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-lightbulb-o.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Light the Way
                  |                         
                  p.text-muted Through storytelling, film, and technology, students are exposed to the most illustrious game changers and develop their own story, dreams, and passions.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Find the Jewels
                  |                         
                  p.text-muted By working with students to identify the key elements that brought these professionals success, Thrive shows the next generation of leaders what it takes to be successful.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-globe.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Dream Big
                  |                         
                  p.text-muted  When students discover their passion, the world is theirs. Thrive coaches students on best practices in communication and outreach skills that they need to succeed.
              |                                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.4s')
                  |                         
                  h3 Made With Love
                  |                         
                  p.text-muted We're here to nurture young people, foster their natural abilities, and promote a lifestyle rich with empathy, gratitude, love, and many other important qualities.
        |     
        aside.bg-dark#top-green
          .container.text-center
            .call-to-action
              h2 Coming Soon - Meet The Students!
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#moreinfo') Contact us to find out more!
        | 
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#', onclick="return false")
                  img.img-responsive(src='/static/img/office-chairs.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | CEO
                      |                                 
                      .project-name
                        | Ashante Robinson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#', onclick="return false")
                  img.img-responsive(src='/static/img/video-game-hands.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Video Game Designer 
                      |                                 
                      .project-name
                        | Lizbeth Alcaraz
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#', onclick="return false")
                  img.img-responsive(src='/static/img/ceo-image.jpg', alt='laptop-ceo-image')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Entreprenuer
                      |                                 
                      .project-name
                        | John Griffin
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#', onclick="return false")
                  img.img-responsive(src='/static/img/sky-earth-space-working-medium.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Rocket Scientist
                      |                                 
                      .project-name
                        | Karla Diaz
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#', onclick="return false")
                  img.img-responsive(src='/static/img/designer-board.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        |  Web Designer
                      |                                 
                      .project-name
                        |  Saul Fernandez
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#', onclick="return false")
                  img.img-responsive(src='/static/img/tech-board-software-engineer.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Software Engineer
                      |                                 
                      .project-name
                        |  Anthony Viana
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Get To Know Us
                |                     
                hr.primary
                |                     
                p
                  | Nothing is impossible for kids who know what they want and how to get there. We realize that not every student is afforded this opportunity. We focus on bridging gaps between students and experts so we can THRIVE side by side to take our communities to new heights! Join us!
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p 1-800-wethrive
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:sterling@thrivesidebyside.com') Email us today!
        aside.bg-dark#moreinfo
          .container.text-center
            .call-to-action
              p &copy2016 Thrivesbs              